### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [11]:
# getting the total number of players
total_players = len(pd.unique(purchase_data['SN']))
print(f"Total Players: {total_players}")

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# getting all the basic calculations
unique_items = len(pd.unique(purchase_data['Item ID']))
average_price = round(purchase_data["Price"].mean(), 2)
num_purchases = len(purchase_data.index)
total_revenue = purchase_data["Price"].sum()

#setting them into a table
purchasing_analysis_df = pd.DataFrame({  
    'Number of Unique Items' : [unique_items], 
    'Average Price' : [f"${average_price}"], 
    'Number of Purchases' : [num_purchases],
    'Total Revenue' : [f"${total_revenue}"]}, 
    
   index = [0]) 

#printing the table
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
# dropping duplicate purchases by the same user
no_dups_df = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)

# getting gender count from non-dup df
gender_counts = no_dups_df["Gender"].value_counts()

# creating a df from the series
gender_counts_df = pd.DataFrame(gender_counts)
gender_counts_df = gender_counts_df.rename(
    columns={"Gender": "Total Count"})

# getting my percents
male = round((gender_counts_df.iloc[0,0] / (gender_counts_df['Total Count'].sum())) * 100, 2)
female = round((gender_counts_df.iloc[1,0] / (gender_counts_df['Total Count'].sum())) * 100, 2)
other = round((gender_counts_df.iloc[2,0] / (gender_counts_df['Total Count'].sum())) * 100, 2)
# creating a list to pass as a column
percents = [f"{male}%", f"{female}%", f"{other}%"]
# adding coilumn to my dataframe
gender_counts_df["Percentage of Players"] = percents
gender_counts_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#getting a groupby object to do some calculations on
grouped_purchase = purchase_data.groupby(['Gender'])

purchase_count = purchase_data["Gender"].value_counts()
average_purchase_price = grouped_purchase["Price"].mean()
total_purchase_value = grouped_purchase["Price"].sum()

# getting groups to run calculations on for the last column
male_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_group = male_df.groupby(["SN"])
female_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_group = female_df.groupby(["SN"])
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_group = other_df.groupby(["SN"])

m_avg_total = round(male_group["Price"].sum().mean(), 2)
f_avg_total = round(female_group["Price"].sum().mean(), 2)
o_avg_total = round(other_group["Price"].sum().mean(), 2)
avg_total = [f_avg_total, m_avg_total, o_avg_total]
#creating dataframe and adding final column
gender_summary_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_purchase_price, "Total Purchase Value": total_purchase_value})
gender_summary_df["Avg Total Purchase per Person"] = avg_total
#formatting my dataframe
gender_summary_df["Average Purchase Price"] = gender_summary_df["Average Purchase Price"].map("${:.2f}".format)
gender_summary_df["Total Purchase Value"] = gender_summary_df["Total Purchase Value"].map("${:.2f}".format)
gender_summary_df["Avg Total Purchase per Person"] = gender_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)

gender_summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
# dropping duplicates
age_df = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)
# setting up my bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# creating bin column and adding it to dataframe
age_df["Age Bin"] = pd.cut(age_df["Age"], bins, labels=group_names, include_lowest=True)

#creating my new dataframe for my bins
age_counts = age_df["Age Bin"].value_counts()
age_counts_df = pd.DataFrame(age_counts, index=group_names)
age_counts_df = age_counts_df.rename(
    columns={"Age Bin": "Total Count"})
# formatting
age_counts_df["Percentage of Players"] = (age_counts_df['Total Count'] / age_counts_df['Total Count'].sum()) * 100
age_counts_df["Percentage of Players"] = age_counts_df["Percentage of Players"].map("{:.2f}%".format)
# printing
age_counts_df

C:\Users\Mary\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
purchase_data["Age Bin"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

age_grouped_purchase = purchase_data.groupby(['Age Bin'])

age_purchase_count = purchase_data["Age Bin"].value_counts()
purchase_price = age_grouped_purchase["Price"].mean()
purchase_value = age_grouped_purchase["Price"].sum()

#torturing the data to get the info I need
under_df = purchase_data.loc[purchase_data["Age Bin"] == "<10", :]
under_group = under_df.groupby(["SN"])
ten_df = purchase_data.loc[purchase_data["Age Bin"] == "10-14", :]
ten_group = ten_df.groupby(["SN"])
fifteen_df = purchase_data.loc[purchase_data["Age Bin"] == "15-19", :]
fifteen_group = fifteen_df.groupby(["SN"])
twenty_df = purchase_data.loc[purchase_data["Age Bin"] == "20-24", :]
twenty_group = twenty_df.groupby(["SN"])
twentyfive_df = purchase_data.loc[purchase_data["Age Bin"] == "25-29", :]
twentyfive_group = twentyfive_df.groupby(["SN"])
thirty_df = purchase_data.loc[purchase_data["Age Bin"] == "30-34", :]
thirty_group = thirty_df.groupby(["SN"])
thirtyfive_df = purchase_data.loc[purchase_data["Age Bin"] == "35-39", :]
thirtyfive_group = thirtyfive_df.groupby(["SN"])
forty_df = purchase_data.loc[purchase_data["Age Bin"] == "40+", :]
forty_group = forty_df.groupby(["SN"])
# so I can do all these averages fort he last column
under_avg_total = under_group["Price"].sum().mean()
ten_avg_total = ten_group["Price"].sum().mean()
fifteen_avg_total = fifteen_group["Price"].sum().mean()
twenty_avg_total = twenty_group["Price"].sum().mean()
twentyfive_avg_total = twentyfive_group["Price"].sum().mean()
thirty_avg_total = thirty_group["Price"].sum().mean()
thirtyfive_avg_total = thirtyfive_group["Price"].sum().mean()
forty_avg_total = forty_group["Price"].sum().mean()
age_avg_total = [under_avg_total, ten_avg_total, fifteen_avg_total, twenty_avg_total, twentyfive_avg_total, thirty_avg_total, thirtyfive_avg_total, forty_avg_total]
# creating my dataframe
age_summary_df = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": purchase_price, "Total Purchase Value": purchase_value})
age_summary_df["Avg Total Purchase per Person"] = age_avg_total
# formatting my dataframe
age_summary_df["Average Purchase Price"] = age_summary_df["Average Purchase Price"].map("${:.2f}".format)
age_summary_df["Total Purchase Value"] = age_summary_df["Total Purchase Value"].map("${:.2f}".format)
age_summary_df["Avg Total Purchase per Person"] = age_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)

age_summary_df.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
spenders = purchase_data["SN"].value_counts()
spenders_group = purchase_data.groupby(["SN"])
#creating a new dataframe to add columns to
spenders_df = pd.DataFrame(spenders)
spenders_df = spenders_df.rename(columns={"SN": "Purchase Count"})
# getting my column values
avg_purchase = spenders_group["Price"].mean()
total_purchase = spenders_group["Price"].sum()
# inserting columns
spenders_df["Average Purchase Price"] = avg_purchase
spenders_df["Total Purchase Value"] = total_purchase
# sorting
sorted_spenders = spenders_df.sort_values("Total Purchase Value", ascending=False)
# formatting
sorted_spenders["Average Purchase Price"] = sorted_spenders["Average Purchase Price"].map("${:.2f}".format)
sorted_spenders["Total Purchase Value"] = sorted_spenders["Total Purchase Value"].map("${:.2f}".format)

sorted_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
# getting my reduced dataset
item_data = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
# groupby calculations and renaming columns when I do it
total_item = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Item Price")
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
# creating a new dataset with values
all_items = pd.DataFrame({"Purchase Counts":item_count, "Item Price": average_item, "Total Purchase Value": total_item})
#sorting dataframe
sorted_df = all_items.sort_values("Purchase Counts", ascending=False)
# formatting data frame
sorted_df["Item Price"] = sorted_df["Item Price"].map("${:.2f}".format)
sorted_df["Purchase Counts"] = sorted_df["Purchase Counts"].map("{:.0f}".format)
sorted_df["Total Purchase Value"] = sorted_df["Total Purchase Value"].map("${:.2f}".format)

sorted_df

,,Purchase Counts,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
profit_sorted_df = all_items.sort_values("Total Purchase Value", ascending=False)

profit_sorted_df["Item Price"] = profit_sorted_df["Item Price"].map("${:.2f}".format)
profit_sorted_df["Purchase Counts"] = profit_sorted_df["Purchase Counts"].map("{:.0f}".format)
profit_sorted_df["Total Purchase Value"] = profit_sorted_df["Total Purchase Value"].map("${:.2f}".format)

profit_sorted_df

,,Purchase Counts,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75